<div class="experience-container">

    <h1> Experience </h1>

    <div class="experience-card">
        <div class="card-header">
            <p class="role"> Consultant <span class="organization-name"> - Capgemini </span> </p>
        </div>
        <div class="card-content">
            <p class="time-line"> Mar 2023 - present </p>

            <div class="description">
                User Interface Development: Crafted new and engaging user interfaces that met client requirements,
                ensuring
                a seamless and user-friendly experience.
                Backend API Development: Created robust backend API endpoints using NestJS and integrated them with the
                frontend to ensure smooth data flow and functionality.
                Mentorship: Guided and mentored junior developers, helping them to improve their technical skills and
                fostering their professional growth.
            </div>
        </div>
    </div>

    <div class="experience-card">
        <div class="card-header">
            <p class="role"> Angular developer <span class="organization-name"> - Infospica </span> </p>
        </div>
        <div class="card-content">
            <p class="time-line"> Sep 2021 - Mar 2023 </p>
            <div class="description">
                I was responsible for developing and maintaining web applications with a focus on client-specific
                requirements.
                My duties included integrating third-party libraries to enhance functionality, creating reusable custom
                components, and implementing custom validations to ensure data integrity.
                I also played a key role in managing state across complex applications and participated in the overall
                design and architecture of the systems.
                Additionally, I collaborated with team members through code reviews and mentoring, contributing to a
                cohesive and productive development environment.
            </div>
        </div>
    </div>

    <div class="experience-card">
        <div class="card-header">
            <p class="role"> Software Engineer <span class="organization-name"> - Abeyaantrix Solutions </span> </p>
        </div>
        <div class="card-content">
            <p class="time-line"> Nov 2020 - Aug 2021 </p>
            <div class="description">
                In this role, I was involved in the development of various web applications tailored to specific client
                needs.
                My key responsibilities included creating highly reusable components, integrating backend APIs using the
                facade pattern.
                I focused on enhancing the user experience through well-designed interfaces and efficient state
                management.
                Additionally, I collaborated closely with team members to ensure code quality and consistency across
                projects.
            </div>
        </div>
    </div>

    <div class="experience-card">
        <div class="card-header">
            <p class="role"> Angular developer <span class="organization-name"> - Galtech Technologies </span> </p>
        </div>
        <div class="card-content">
            <p class="time-line"> Apr 2019 - Aug 2019 </p>
            <div class="description">
                I contributed to the development of an inventory management solution for a subsidiary of SK Group in
                Dubai.
                My responsibilities included creating a robust login module and a module for managing incoming
                materials.
                I integrated the application with Firebase for efficient database operations and ensured seamless user
                interactions through well-designed interfaces.
                My work focused on enhancing functionality and reliability to meet the client's specific needs.
            </div>
        </div>
    </div>

    <div class="experience-card">
        <div class="card-header">
            <p class="role"> Web developer <span class="organization-name"> - Annvision Solutions </span> </p>
        </div>
        <div class="card-content">
            <p class="time-line"> Oct 2017 - Mar 2019 </p>
            <div class="description">
                In this role, I worked on a variety of web applications that included developing a job portal,
                matrimonial
                site, a resume collection website, and another job portal project.
                My responsibilities included creating user registration and login modules, integrating payment gateways,
                and
                developing comprehensive admin panels.
                I utilized technologies such as CodeIgniter and core PHP to build scalable and user-friendly solutions.
                Throughout these projects, I focused on ensuring secure data handling and delivering high-quality,
                functional applications tailored to client needs.
            </div>
        </div>
    </div>

</div>
