// Theme Colors
$color-primary-dark: #050C9C;
$color-primary: #3572EF;
$color-secondary: #3ABEF9;
$color-light: #A7E6FF;

// Neutral Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-dark: #333333;
$color-grey: #777777;
$color-grey-light: #CCCCCC;