<div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#3572EF" fill-opacity="1"
            d="M0,192L48,170.7C96,149,192,107,288,122.7C384,139,480,213,576,213.3C672,213,768,139,864,122.7C960,107,1056,149,1152,160C1248,171,1344,149,1392,138.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
        </path>
    </svg>
    <div class="intro-section">
        <h1 class="main-heading"> Hi, I'm Nimisha </h1>
        <p class="description">
            Senior frontend engineer specialized in Angular, with experience in creating responsive and user-centric
            web
            applications. I have a strong foundation in TypeScript and JavaScript, complemented by backend skills in
            NestJS.
            My
            work blends creativity with technical expertise to deliver exceptional digital experiences.
        </p>
    </div>
</div>