<div class="photo-section">
    <div class="profile-image">
        <img src="assets/profile-photo.jpg" alt="Profile Image">
    </div>
</div>
<div class="other-details-section">
    <div class="content">
        <p>
            I’d love to hear from you! Whether you have a question, want to collaborate on a project, or just want
            to say hello, feel free to drop me a message. I'm always open to new opportunities and connections.
        </p>
        <a href="https://github.com/nimishawilson" target="_blank"> <img src="assets/github.svg"
                class="social-media-icon" alt="github icon"> </a>
        <a href="https://www.linkedin.com/in/nimisha-wilson/" target="_blank"> <img src="assets/linkedin.svg"
                class="social-media-icon" alt="linkedin icon"> </a>
        <a href="mailto:nimishawilson333@gmail.com"> <img src="assets/gmail.svg" class="social-media-icon"
                alt="gmail icon"> </a>
        <div class="btn-container">
            <span class="resume-button">
                Click to download my resume
            </span>
        </div>
    </div>
</div>